<span 
    *ngIf="isLong && text" 
    style="cursor:pointer" 
    [ngbTooltip]="text">
        {{ text.substr(0, width) + tail }}
</span>

<span [hidden]="isLong || !text">
    {{ text }}
</span>

<!-- <span [hidden]="text">-</span> -->