<div class="container">
    <h2>
        <span jhiTranslate="variantsApp.sample.home.title">Samples</span>
        <button class="btn btn-primary float-right jh-create-entity create-sample" [routerLink]="['/', { outlets: { popup: ['sample-new'] } }]">
            <span class="fa fa-plus"></span>
            <!-- <span  jhiTranslate="variantsApp.sample.home.createLabel">
            Create new Sample
            </span> -->
        </button>
    </h2>
    <!-- <jhi-alert></jhi-alert> -->
    <div class="row">
    </div>
    <br/>
    <div class="" *ngIf="samples">
        <table class="tablesorter tablesorter-default">
            <thead>
            <tr jhiSort class="tablesorter-headerRow" [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
            <th>ID</th>
            <!-- <th jhiSortBy="fileOriginalName"><span>File Original Name</span> <span class="fa fa-sort"></span></th> -->
            <th>File Original Name</th>
            <!-- <th jhiSortBy="fileHashName"><span>File Hash Name</span> <span class="fa fa-sort"></span></th> -->
            <!-- <th jhiSortBy="firstName"><span>First Name</span> <span class="fa fa-sort"></span></th> -->
            <th>Importing Status</th>
            <th>First Name</th>
            <!-- <th jhiSortBy="lastName"><span>Last Name</span> <span class="fa fa-sort"></span></th> -->
            <th>Last Name</th>
            <!-- <th jhiSortBy="age"><span>Age</span> <span class="fa fa-sort"></span></th> -->
            <th>Age</th>
            <!-- <th jhiSortBy="nationalCode"><span>National Code</span> <span class="fa fa-sort"></span></th> -->
            <th>National Code</th>
            <!-- <th jhiSortBy="birthDate"><span>Birth Date</span> <span class="fa fa-sort"></span></th> -->
            <!-- <th>Birth Date</th> -->
            <!-- <th jhiSortBy="deathDate"><span>Death Date</span> <span class="fa fa-sort"></span></th> -->
            <!-- <th>Death Date</th> -->
            <!-- <th jhiSortBy="gender"><span>Gender</span> <span class="fa fa-sort"></span></th> -->
            <th>Gender</th>
            <!-- <th jhiSortBy="birthProvince"><span>Birth Province</span> <span class="fa fa-sort"></span></th> -->
            <th>Birth Province</th>
            <!-- <th jhiSortBy="livingProvince"><span>Living Province</span> <span class="fa fa-sort"></span></th> -->
            <!-- <th>Living Province</th> -->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sample of samples ;trackBy: trackId">
                <td>
                    <!-- <a [routerLink]="['../sample', sample.id ]"> -->
                        {{sample.id}}
                    <!-- </a> -->
                </td>
                <td>{{sample.fileOriginalName}}</td>
                <!-- <td>{{sample.fileHashName}}</td> -->
                <td>{{sample.importingStatus}}</td>
                <td>{{sample.firstName}}</td>
                <td>{{sample.lastName}}</td>
                <td>{{sample.age}}</td>
                <td>{{sample.nationalCode}}</td>
                <!-- <td>{{sample.birthDate | date:'mediumDate'}}</td> -->
                <!-- <td>{{sample.deathDate | date:'mediumDate'}}</td> -->
                <td>{{sample.gender}}</td>
                <td>{{sample.birthProvince}}</td>
                <!-- <td>{{sample.livingProvince}}</td> -->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!-- <button type="submit"
                                [routerLink]="['../sample', sample.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button> -->
                        <span
                                [routerLink]="['/', { outlets: { popup: 'sample/'+ sample.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="actions-col text-primary fa fa-pencil">
                            <!-- <span class="fa fa-pencil"></span> -->
                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
                    </span>
                        <!--<button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sample/'+ sample.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button> -->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="samples && samples.length">
        <!-- <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div> -->
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="false" (pageChange)="loadPage(page)" size="sm"></ngb-pagination>
        </div>
    </div> 

    <!-- <div class="row">
        <div class="col-md-3">
            list
        </div>
        <div class="col-md-9">
            details
        </div>
    </div> -->
</div>
