<form name="editForm" role="form" >

    <div class="modal-header">
        <h4 class="modal-title" id="mySampleLabel">Create or Edit a Sample</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body my-scrollbar">
        <!-- <jhi-alert-error></jhi-alert-error> -->
        <div class="form-group" [hidden]="sample.id">
            <label class="form-control-label" for="field_file">Sample File</label>
            <label class="custom-file" style="width: 100%;border: 1px solid #ced4da;border-radius: 0.15rem;">
                <input type="file" id="file" class="custom-file-input" ng2FileSelect [uploader]="uploader" (change)="updateFileInputText($event)">
                <span class="custom-file-control" style="color: #555;left: 0.5em;position: relative;top: -2.1em;"></span>
            </label>
        </div>    
        <div class="form-group" [hidden]="!sample.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sample.id" readonly />
        </div>
        <!-- <div class="form-group">
            <label class="form-control-label">File Original Name</label>
            <input type="text" class="form-control" name="fileOriginalName" id="field_fileOriginalName"
                [(ngModel)]="sample.fileOriginalName" />
        </div>
        <div class="form-group">
            <label class="form-control-label">File Hash Name</label>
            <input type="text" class="form-control" name="fileHashName" id="field_fileHashName"
                [(ngModel)]="sample.fileHashName" />
        </div> -->
        <div class="form-group">
            <label class="form-control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="sample.firstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="sample.lastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                [(ngModel)]="sample.age" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nationalCode">National Code</label>
            <input type="text" class="form-control" name="nationalCode" id="field_nationalCode"
                [(ngModel)]="sample.nationalCode" />
        </div>
        <!-- <div class="form-group">
            <label class="form-control-label" for="field_birthDate">Birth Date</label>
            <div class="input-group">
                <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker  #birthDateDp="ngbDatepicker" [(ngModel)]="sample.birthDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_deathDate">Death Date</label>
            <div class="input-group">
                <input id="field_deathDate" type="text" class="form-control" name="deathDate" ngbDatepicker  #deathDateDp="ngbDatepicker" [(ngModel)]="sample.deathDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="deathDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div> -->
        <div class="form-group">
            <label class="form-control-label" for="field_gender">Gender</label>
            <angular2-multiselect name="gender" [data]="genderList" [(ngModel)]="selectedGender" 
            [settings]="dropdownSettingsSingle"></angular2-multiselect>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_birthProvince">Birth Province</label>
            <angular2-multiselect name="bprovinces" [data]="provincesList" [(ngModel)]="selectedBirthProvince" 
            [settings]="dropdownSettingsSingle"></angular2-multiselect>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_livingProvince">Living Province</label>
            <angular2-multiselect name="provinces" [data]="provincesList" [(ngModel)]="selectedLivingProvince" 
            [settings]="dropdownSettingsSingle"></angular2-multiselect>
        </div>

        <div class="form-group">
            <label for="field_races">Races</label>
            <angular2-multiselect name="race" [data]="racesList" [(ngModel)]="selectedRaces" 
            [settings]="dropdownSettingsMulti"></angular2-multiselect>
        </div>
        <div class="form-group">
            <label for="field_diseases">Diagnosis</label>
            <angular2-multiselect name="dieases" [data]="diseasesList" [(ngModel)]="selectedDiseases" 
            [settings]="dropdownSettingsMulti"></angular2-multiselect>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <!-- <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button> -->
        <button class="btn btn-primary" (click)="uploadFileAndMetadata()"><span class="fa fa-save"></span>&nbsp; Save</button>
    </div>
</form>