
<div *ngIf="sample">
    <h2><span jhiTranslate="variantsApp.sample.detail.title">Sample</span> {{sample.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="variantsApp.sample.fileOriginalName">File Original Name</span></dt>
        <dd>
            <span>{{sample.fileOriginalName}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.fileHashName">File Hash Name</span></dt>
        <dd>
            <span>{{sample.fileHashName}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.firstName">First Name</span></dt>
        <dd>
            <span>{{sample.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.lastName">Last Name</span></dt>
        <dd>
            <span>{{sample.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.age">Age</span></dt>
        <dd>
            <span>{{sample.age}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.nationalCode">National Code</span></dt>
        <dd>
            <span>{{sample.nationalCode}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.birthDate">Birth Date</span></dt>
        <dd>
            <span>{{sample.birthDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.deathDate">Death Date</span></dt>
        <dd>
            <span>{{sample.deathDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.gender">Gender</span></dt>
        <dd>
            <span jhiTranslate="{{'variantsApp.Gender.' + sample.gender}}">{{sample.gender}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.birthProvince">Birth Province</span></dt>
        <dd>
            <span jhiTranslate="{{'variantsApp.Province.' + sample.birthProvince}}">{{sample.birthProvince}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.livingProvince">Living Province</span></dt>
        <dd>
            <span jhiTranslate="{{'variantsApp.Province.' + sample.livingProvince}}">{{sample.livingProvince}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.importingStatus">Importing Status</span></dt>
        <dd>
            <span jhiTranslate="{{'variantsApp.SampleImportingStatus.' + sample.importingStatus}}">{{sample.importingStatus}}</span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.races">Races</span></dt>
        <dd>
            <span *ngFor="let races of sample.races; let last = last">
                <a [routerLink]="['/race', races?.id ]">{{races.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="variantsApp.sample.diseases">Diseases</span></dt>
        <dd>
            <span *ngFor="let diseases of sample.diseases; let last = last">
                <a [routerLink]="['/disagnosis', diseases?.id ]">{{diseases.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sample/'+ sample.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
