<div class="modal-header">
    <h5 class="modal-title">Variant</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-tabset (tabChange)="onTabChange($event)">
        <ngb-tab title="Details">
            <ng-template ngbTabContent>
                <p>
                    <dl class="row">
                        <dt class="col-sm-4">Varint Name</dt>
                        <dd class="col-sm-8">{{variant?.chr}}:{{variant?.position}}-{{variant?.ref}}-{{variant?.alt}}</dd>
                        <dt class="col-sm-4">RS Number(snp142)</dt>
                        <dd class="col-sm-8">{{variant?.snp142 || '-'}}</dd>
                        <dt class="col-sm-4">Gene Name</dt>
                        <dd class="col-sm-8">{{variant?.refGene || '-'}}</dd>
                        <dt class="col-sm-4">Gene Symbol (gene.ens)</dt>
                        <dd class="col-sm-8">{{variant?.ensGene || '-'}}</dd>
                    </dl>
                </p>

                <div class="row">
                    <div class="col-md-4">
                        <table class="tablesorter tablesorter-default">
                            <thead>
                                <tr class="tablesorter-headerRow">
                                    <th scope="col" class="sorter-false">Score</th>
                                    <th scope="col" class="sorter-false">Prediction</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SIFT_score</td>
                                    <td>{{variant?.siftScore || '-'}}</td>
                                </tr>
                                <tr>
                                    <td>Polyphen2_HDIV_score</td>
                                    <td>{{variant?.polyphen2HDIVScore || '-'}}</td>
                                </tr>
                                <tr>
                                    <td>CADD_phred</td>
                                    <td>{{variant?.caddPhred || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <table class="tablesorter tablesorter-default">
                            <thead>
                                <tr class="tablesorter-headerRow">
                                    <th scope="col" class="sorter-false">Database</th>
                                    <th scope="col" class="sorter-false">freq.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>esp6500siv2_all</td>
                                    <td>{{variant?.esp6500SIV2All || '-'}}</td>
                                </tr>
                                <tr>
                                    <td>1000g2015aug_all</td>
                                    <td>{{variant?.the1000g2015AugAll || '-'}}</td>
                                </tr>
                                <tr>
                                    <td>ExAC_ALL</td>
                                    <td>{{variant?.exacAll || '-'}}</td>
                                </tr>
                                <tr>
                                    <td>cg69</td>
                                    <td>{{variant?.cg69 || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="tablesorter tablesorter-default">
                            <thead>
                                <tr class="tablesorter-headerRow">
                                    <th scope="col" class="sorter-false">ClinvarDB</th>
                                    <th scope="col" class="sorter-false">Signal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><shrink-column [text]="variant.clndbn" [width]="8" tail="..."></shrink-column><span *ngIf="!variant.clndbn">-</span></td>
                                    <td><shrink-column [text]="variant.clinsig" [width]="8" tail="..."></shrink-column><span *ngIf="!variant.clinsig">-</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Prevalence" id="prevalence">
            <ng-template ngbTabContent>
                <canvas *ngIf="showPlot" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>

                <!-- <div>
                <ol>
                    <li *ngFor="let person of people">{{person}}</li>
                </ol>
            </div> -->

                <div *ngIf="samples">
                <!-- <div> -->
                    <table class="tablesorter tablesorter-default">
                        <thead>
                            <tr>
                                <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
                                <!--<th>ID</th>-->
                                <!-- <th jhiSortBy="fileOriginalName"><span>File Original Name</span> <span class="fa fa-sort"></span></th> -->
                                <!--<th>File Original Name</th>-->
                                <!-- <th jhiSortBy="fileHashName"><span>File Hash Name</span> <span class="fa fa-sort"></span></th> -->
                                <!-- <th jhiSortBy="firstName"><span>First Name</span> <span class="fa fa-sort"></span></th> -->
                                <th>First Name</th>
                                <!-- <th jhiSortBy="lastName"><span>Last Name</span> <span class="fa fa-sort"></span></th> -->
                                <th>Last Name</th>
                                <!-- <th jhiSortBy="age"><span>Age</span> <span class="fa fa-sort"></span></th> -->
                                <!--<th>Age</th>-->
                                <!-- <th jhiSortBy="nationalCode"><span>National Code</span> <span class="fa fa-sort"></span></th> -->
                                <th>National Code</th>
                                <!-- <th jhiSortBy="birthDate"><span>Birth Date</span> <span class="fa fa-sort"></span></th> -->
                                <!-- <th>Birth Date</th> -->
                                <!-- <th jhiSortBy="deathDate"><span>Death Date</span> <span class="fa fa-sort"></span></th> -->
                                <!-- <th>Death Date</th> -->
                                <!-- <th jhiSortBy="gender"><span>Gender</span> <span class="fa fa-sort"></span></th> -->
                                <!--<th>Gender</th>-->
                                <!-- <th jhiSortBy="birthProvince"><span>Birth Province</span> <span class="fa fa-sort"></span></th> -->
                                <!--<th>Birth Province</th>-->
                                <!-- <th jhiSortBy="livingProvince"><span>Living Province</span> <span class="fa fa-sort"></span></th> -->
                                <!-- <th>Living Province</th> -->
                                <th>Zygosity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sample of samples ;trackBy: trackId">
                                <!--<td>-->
                                    <!-- <a [routerLink]="['../sample', sample.id ]"> -->
                                        <!--{{sample.id}}-->
                                    <!-- </a> -->
                                <!--</td>-->
                                <!--<td>{{sample.fileOriginalName}}</td>-->
                                <!-- <td>{{sample.fileHashName}}</td> -->
                                <td>{{sample.firstName}}</td>
                                <td>{{sample.lastName}}</td>
                                <!--<td>{{sample.age}}</td>-->
                                <td>{{sample.nationalCode}}</td>
                                <!-- <td>{{sample.birthDate | date:'mediumDate'}}</td> -->
                                <!-- <td>{{sample.deathDate | date:'mediumDate'}}</td> -->
                                <!--<td>{{sample.gender}}</td>-->
                                <!--<td>{{sample.birthProvince}}</td>-->
                                <!-- <td>{{sample.livingProvince}}</td> -->
                                <td>{{sample.variantZygosity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
<!-- <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
        </div> -->