<!-- <div class="expander">
    <div class="search-filters-text"> 
        <div class="container">
            <div class="row text-center">
                <div class="form col-centered">
                    <form id="search-form" class="form-search form-horizontal">
                        <input type="text" class="input-search " [placeholder]="criteria" disabled>
                        <button type="submit" class="btn-search btn disabled">Go!</button>
                        <!-- <div class="help-block">
                            Examples - Gene: PCSK9, Transcript: ENST00000407236, Variant: 22-46615880-T-C, Multi-allelic variant: rs1800234, Region: 22:46615715-46615880
                        </div> --
                    </form>
                </div>
            </div>         
        </div>     
    </div>
</div>
<br/><br/> -->
<!-- <div class="row"> -->
<div class="col-md-6 offset-md-3">
    <h1 class="wizard-header">NARROW THE TARGET PHENOTYPE</h1>
    <form>
        <div class="form-group row" style="margin-top:3em;">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Age</label>
            <div class="col-sm-10" style="padding:0 30px;">
            <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
            <!-- <input type="range" class="form-control" min="1" max="100" value="50"  id="myRange"> -->
            <nouislider name="age" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="ageRange" [tooltips]="[ true, true ]" ></nouislider>
            </div>
        </div>
        <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-legend col-sm-2">Gender</legend>
                    <div class="col-sm-10">
                        <angular2-multiselect name="gender" [data]="genderList" [(ngModel)]="selectedGenders" 
                            [settings]="dropdownSettings"></angular2-multiselect>
                        <!-- <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            Male
                        </label>
                        </div>
                        <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            Female
                        </label>
                        </div>
                        <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option3">
                            Other
                        </label>
                        </div> -->
                    </div>
                </div>
            </fieldset>

        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Race</label>
            <div class="col-sm-10">
                <!-- <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>White</option>
                    <option>Asian</option>
                    <option>Latin</option>
                </select> -->
                <angular2-multiselect name="race" [data]="racesList" [(ngModel)]="selectedRaces" 
                [settings]="dropdownSettings"></angular2-multiselect>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Province</label>
            <div class="col-sm-10">
                <!-- <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>Tehran</option>
                    <option>Fars</option>
                    <option>Yazd</option>
                </select> -->
                <angular2-multiselect name="provinces" [data]="provincesList" [(ngModel)]="selectedProvinces" 
                [settings]="dropdownSettings"></angular2-multiselect>
            </div>
        </div>

        
        
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Diagnosis</label>
            <div class="col-sm-10">
                    <!-- <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>Fever</option>
                            <option>Adult Cold</option>
                            <option>Craziness</option>
                            </select> -->
                <angular2-multiselect name="dieases" [data]="diseasesList" [(ngModel)]="selectedDiseases" 
                [settings]="dropdownSettings"></angular2-multiselect>
            </div>
        </div>
        <!-- <div class="form-group row">
            <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" routerLink="result">Filter</button>
            </div>
        </div> -->
        </form>
</div>
<!-- </div> -->