<div class="col-md-10 offset-md-1">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-cente">Variant/Gene</h3>
            <table CLASS="table table-sm">
                <tr>
                    <td>Search Phrase</td> 
                    <td>{{searchPhrase}}</td>
                <!-- <dt class="col-sm-3">Milk</dt> <dd class="col-sm-9">White cold drink</dd> -->
                </tr>
            </table>
        </div>
    
        <div class="col-md-6">
            <h3 class="text-cente">PHENOTYPE</h3>
            <table class="table table-sm">
                <!-- <dt class="col-sm-3">Age</dt> <dd class="col-sm-9">{{filters['sample-age-start']}}-{{filters['sample-age-end']}}</dd> -->
                <tr>
                    <td>Genders</td> 
                    <td>
                        <!-- <span class="" *ngFor="let gender of bundle?.genders">{{gender}}&nbsp;</span> -->
                        <shrink-column [text]="bundle?.genders?.toString()" [width]="20" tail="..."></shrink-column>
                        <span [hidden]="bundle?.genders?.length > 0">All</span>
                    </td>
                </tr>

                <tr>
                    <td>Race</td> 
                    <td>
                        <!-- <span *ngFor="let race of bundle?.races">{{race}}&nbsp;</span> -->
                        <shrink-column [text]="bundle?.races?.toString()" [width]="20" tail="..."></shrink-column>
                        <span [hidden]="bundle?.races?.length > 0">All</span>
                    </td>
                </tr>

                <tr>
                    <td>Province</td> 
                    <td>
                        <!-- <span *ngFor="let province of bundle?.provinces">{{province}}&nbsp;</span> -->
                        <!-- {{ | }} -->
                        <shrink-column [text]="bundle?.provinces?.toString()" [width]="20" tail="..."></shrink-column>
                        <span [hidden]="bundle?.provinces?.length > 0">All</span>
                    </td>
                </tr>

                <tr>
                    <td>Diagnosis</td> 
                    <td>
                        <!-- <span *ngFor="let disease of bundle?.diseases">{{disease}}&nbsp;</span> -->
                        <shrink-column [text]="bundle?.diseases?.toString()" [width]="20" tail="..."></shrink-column>
                        <span [hidden]="bundle?.diseases?.length > 0">All</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- <h1 class="wizard-header">SEARCH RESULTS</h1> -->
    <table id="myTable" class="tablesorter tablesorter-default">
    <thead>
        <tr class="tablesorter-headerRow">
            <th scope="col">chr</th>
            <th scope="col">position</th>
            <th scope="col">ref</th>
            <th scope="col">alt</th>
            <th scope="col">Func.refGene</th>
            <th scope="col">Gene.refGene</th>
            <th scope="col">refGeneAAChange</th>
            <th scope="col">ExonicFunc.refGene</th>
            <th scope="col">Allele Frequency</th>
            <th scope="col" class="sorter-false">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of variantSearchResult">
            <td>{{result.chr || '-' }}</td>
            <td>{{result.position || '-' }}</td>
            <td><shrink-column [text]="result.ref" [width]="4" tail="..."></shrink-column><span *ngIf="!result.ref">-</span></td>
            <td><shrink-column [text]="result.alt" [width]="4" tail="..."></shrink-column><span *ngIf="!result.alt">-</span></td>
            <td>{{result.refGeneFunc || '-' }}</td>
            <td>{{result.refGene || '-' }}</td>
            <td><span *ngIf="result.refGeneAAChange && result.refGeneAAChange.includes(','); else regEneElese" style="cursor:pointer" [ngbTooltip]="splitByComma(result.refGeneAAChange)">{{( result.refGeneAAChange | commatruncate:20 ) }}</span><ng-template #regEneElese>-</ng-template></td>
            <td>{{result.refGeneExonicFunc || '-' }}</td>
            <td>{{ (result.alleleFrequency | shrinkfraction:4 ) || '-' }}</td>
            <td><span class="result-details text-primary" (click)="open(result.id)"><i class="fa fa-arrow-right"></i></span></td>
        </tr>    
    </tbody>
    </table>
    <div class="row justify-content-center">
        <ngb-pagination *ngIf="variantSearchResult && variantSearchResult.length" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="7" [rotate]="false" (pageChange)="loadPage(page)" size="sm"></ngb-pagination>
    </div>
</div>