.search-text{
	// margin-top:50px;
	// background-color:#7dabdb;
	padding-top:30px;
	padding-bottom:60px;
}
	
.search-text .input-search{
	height:45px;
	width: 90%;
	padding-left:20px;
    color:#333;
} 

.search-text .btn-search{
	background-color:#7dabdb;
	border:1px solid #FFF;
	color:#FFF;
	padding:12px 20px 12px 20px;
	// position: absolute;
	// left: calc(100% - 5.5em);
	// top: 4px;
	cursor: pointer;
	border: #7dabdb 2px solid;
}

.search-text  .btn-search:hover{
	background-color:#FFF;
	color:#7dabdb;
	// border: #7dabdb 2px solid;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
	padding:15px 0 10px 0;
}

footer{
	background-color:#222222;
	min-height:200px;
	padding:80px 0 50px 0;
}

footer .menu li a{
	color:#b1aca1;
	padding:10px;
	text-decoration:none;
}

footer .menu li a:hover{
	color:#7dabdb;
}

#search-form .help-block{
	// width: 400px;
}

.expander{
	margin: -1.5%;
}

.search-filters-text{
	// margin-top:50px;
	background-color:#222222;
	padding-top:10px;
	padding-bottom:10px;
}
	
.search-filters-text .input-search{
	height:45px;
	width:400px;
	padding-left:20px;
    color:#333;
} 

.search-filters-text .btn-search{
	background-color:#222222;
	border:1px solid #FFF;
	color:#FFF;
	padding:15px 20px 11px 20px;
}

// .search-filters-text .btn-search:hover{
// 	background-color:#FFF;
// 	color:#222222;
// }

.wizard-header {
	text-align: center;
	margin-top: 1em !important;
}

.form{
	width: 100%;
}

.exir-browser{
	// color: 
}

dt{
	text-align: right;
}

dd{
	margin: 0;
}

.result-details{
	cursor: pointer;
	font-size: 1.5em;
}
