<h3 class="text-center exir-browser">ExIR Browser</h3>
<wizard #wizard navBarLayout="large-empty-symbols">
    <wizard-step stepTitle="CHOOSE VARIANTS" navigationSymbol="1" navigationSymbolFontFamily="inherit">
      <div class="centered-content">
        <jhi-search [wizard]="wizard"></jhi-search>
      </div>
    </wizard-step>
    <wizard-step stepTitle="CHOOSE PHENOTYPE" navigationSymbol="2" navigationSymbolFontFamily="inherit" (stepEnter)="enableBlink($event)"  (stepExit)="disableBlink($event)">
      <div class="centered-content">
        <jhi-search-filters></jhi-search-filters>
        <!-- <div>
          CHOOSE PHENOTYPE
        </div>
  
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" previousStep>Back</button>
          <button type="button" class="btn btn-secondary" nextStep>Continue</button>
        </div> -->
      </div>
    </wizard-step>
    <wizard-step stepTitle="SEARCH" navigationSymbol="&#xf002;" navigationSymbolFontFamily="FontAwesome" (stepEnter)="enableReset($event)" (stepExit)="disableReset($event)">
      <div class="centered-content">
        <jhi-search-result></jhi-search-result>
      </div>
    </wizard-step>
  </wizard>
  