<h1 class="wizard-header">
CHOOSE YOUR VARIANTS HERE
</h1>
<div class="search-text"> 
    <div class="container">
        <div class="row text-center">
            <div class="form col-centered col-md-9">
                <form id="search-form" class="form-search form-horizontal">
                    <input type="text" class="input-search" [(ngModel)]="criteria" name="search" placeholder="Type your search here ...">
                    <button type="submit" class="btn-search" (click)="go()">Go!</button>
                    <div class="help-block">
                        Examples - Gene: <a href="javascript:void(0)" (click)="criteria='TP53'; go()">TP53</a>, Variant: <a href="javascript:void(0)" (click)="criteria='22:46615880-T-C'; go()">22:46615880-T-C</a>, Multi-allelic variant: <a href="javascript:void(0)" (click)="criteria='rs1800234'; go()">rs1800234</a>, Region: <a href="javascript:void(0)" (click)="criteria='1:100000-1000000'; go()">1:100000-1000000</a>
                    </div>
                    <br />
                    <div class="text-left">
                        <p>
                            The Exome-seq of IRanian (ExIR) is a project of aggregation of exome-seq results of Iranian that is performed by the Genomic centre of Iran at the Shahid-beheshti university. The main results reported in this project is the allele frequency of exotic variants of Iranian population. The main issue of this project is collecting Meta-data of samples which helps in filtering the desired population to calculate allele frequency.                
                            <br/>
                            <br/>
                            The data set provided on this website starts with 500 unrelated individuals sequenced as part of various disease-specific and population genetic studies. These sample size will extend over time. The co-worker of this project is Sharif Omits Services team.
                        </p>
                    </div>
                </form>
            </div>
        </div>         
    </div>     
</div>