<!-- <jhi-page-ribbon></jhi-page-ribbon> -->
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="main-container">
    <div class="content">
        <router-outlet class="container content-inside"></router-outlet>
        <router-outlet name="popup"></router-outlet>
        <ng4-loading-spinner></ng4-loading-spinner>        
    </div>
    <jhi-footer class="footer" [hidden]="!isAuthenticated()"></jhi-footer>
</div>
