<div [ngSwitch]="isAuthenticated()">
    <div class="" style="margin: 0 !important">
        <h1 class="text-center login-title" >Welcome to the Iranians genomics database</h1>
    </div>
    <br/>
    <div *ngSwitchCase="false" class="row login-row" style="margin: 0 !important">
        <div class="col-md-4">
            <!-- <span class="hipster img-fluid rounded"></span> -->
        </div>
        <div class="col-md-4">
            <jhi-login-modal></jhi-login-modal>
            <!-- <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>
            <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-success" *ngSwitchCase="true">
                    <span *ngIf="account" jhiTranslate="home.logged.message"
                        translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
                </div>
    
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                    <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
                </div>
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                    <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                </div>
            </div>
            <p jhiTranslate="home.question">
                If you have any question on JHipster:
            </p>-->
        </div>
        <div class="col-md-3">
            <!-- <div class="logined"></div> -->
        </div>

    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-4">
            <span class="logo ccgc-logo img-fluid rounded"></span>
        </div>
        <div class="col-md-4">
            <span class="logo our-logo img-fluid rounded"></span>
        </div>
        <div class="col-md-4">
            <div class="logo sbu-logo img-fluid rounded"></div>
        </div>
    </div>

    <div *ngSwitchCase="true" class="container">
        <h1>Welcome!</h1>
        <p>You can now search or modify your account!</p>
        <button class="btn btn-primary" routerLink="search">Search!</button>
    </div>
</div>
