<div class="container">
    <h2>
        <span>Diagnosis</span>
        <button class="btn btn-primary float-right jh-create-entity create-disease" [routerLink]="['/', { outlets: { popup: ['disagnosis-new'] } }]">
            <span class="fa fa-plus"></span>
            <!-- <span  jhiTranslate="variantsApp.disease.home.createLabel">
            Create new Disease
            </span> -->
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="" *ngIf="diseases">
        <table class="tablesorter tablesorter-default">
            <thead>
            <tr jhiSort  class="tablesorter-headerRow" [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
            <th>ID</th>
            <!-- <th jhiSortBy="name"><span jhiTranslate="variantsApp.disease.name">Name</span> <span class="fa fa-sort"></span></th> -->
            <th>Name</th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let disease of diseases ;trackBy: trackId">
                <td>
                    <!-- <a [routerLink]="['../disagnosis', disease.id ]"> -->
                        {{disease.id}}
                    <!-- </a> -->
                </td>
                <td>{{disease.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!-- <button type="submit"
                                [routerLink]="['../disagnosis', disease.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <span 
                            [routerLink]="['/', { outlets: { popup: 'disagnosis/'+ disease.id + '/edit'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="actions-col text-primary fa fa-pencil">
                            <!-- <span class="fa fa-pencil"></span> -->
                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
                    </span>
                        <!--<button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'disagnosis/'+ disease.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>-->
                    </div>
                </td> 
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="diseases && diseases.length">
        <!-- <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div> -->
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="false" (pageChange)="loadPage(page)" size="sm"></ngb-pagination>
        </div>
    </div>
</div>
