/*
* Bootstrap overrides https://getbootstrap.com/docs/4.0/getting-started/theming/
* All values defined in bootstrap source
* https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss can be overwritten here
* Make sure not to add !default to values here
*/

// Colors:
// Grayscale and brand colors for use across Bootstrap.

$primary:             #3E8ACC;
$success:             #28a745;
$info:                #17a2b8;
$warning:             #ffc107;
$danger:              #dc3545;

// Options:
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Components:
// Define common padding and border radius sizes and more.

$border-radius:          .15rem;
$border-radius-lg:       .125rem;
$border-radius-sm:       .1rem;

// Body:
// Settings for the `<body>` element.

$body-bg:                   #fff;

// Typography:
// Font, line-height, and color for body text, headings, and more.

$font-size-base:            1rem;
// $font-family: 'Roboto', sans-serif;
// $font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";