/* after changing this file run 'yarn run webpack:build' */
$fa-font-path: '~font-awesome/fonts';

/***************************
put Sass variables here:
eg $input-color: red;
****************************/
// Override Boostrap variables
@import "bootstrap-variables";
// Import Bootstrap source files from node_modules
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';

/* jhipster-needle-scss-add-vendor JHipster will add new css style */
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "~nouislider/distribute/nouislider.min.css";

@import "./tablesorter.default.css";