<div class="modal-header" [hidden]="!activeModal">
    <h4 class="modal-title" jhiTranslate="login.title">Sign in</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-12">
            <!-- <h1 [hidden]="activeModal" class="text-center login-title">Sign in to continue to Bootsnipp</h1>
            -->
            <!-- <form class="form" role="form" (ngSubmit)="login()"> -->
                <div class="account-wall">
                    <form class="form-signin" role="form" (ngSubmit)="login()">
                        <input [(ngModel)]="username" name="username" id="username" type="text" class="form-control" placeholder="username"  autofocus>
                        <input [(ngModel)]="password" name="password" id="password" type="password" class="form-control" placeholder="Password" >
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign in</button>
                        <label class="checkbox pull-left need-help">
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>
                        <a href="#" class="pull-right need-help">Forgot Password? </a><span class="clearfix"></span>
                    </form>
                    </div>
                    <a href="#" routerLink="register" class="text-center new-account">Create an account </a>
            </form> 

<!-- 
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning">
                <!-- <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span> --
                <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div> -->
            
        </div>
    </div>
</div>
